body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.intro {
  background: url(image/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center; }
  .intro__box {
    width: 450px;
    text-align: center;
    color: #fff; }
  .intro__img {
    border-radius: 50%;
    width: 300px;
    height: 350px; }
  .intro .scroll-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-30px) rotate(45deg); }
    .intro .scroll-down span {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      animation: scroll-down-animate 1.5s linear infinite; }
@keyframes scroll-down-animate {
  0% {
    top: 0;
    left: 0;
    opacity: 0; }
  25% {
    top: 5px;
    left: 5px;
    opacity: 1; }
  70%, 100% {
    top: 10px;
    left: 10px;
    opacity: 0; } }
      .intro .scroll-down span:nth-child(3) {
        transform: translate(30px, 30px);
        animation-delay: 0.6s; }
@keyframes scroll-down-animate {
  0% {
    top: 0;
    left: 0;
    opacity: 0; }
  25% {
    top: 5px;
    left: 5px;
    opacity: 1; }
  70%, 100% {
    top: 10px;
    left: 10px;
    opacity: 0; } }
      .intro .scroll-down span:nth-child(2) {
        transform: translate(20px, 20px);
        animation-delay: 0.4s; }
@keyframes scroll-down-animate {
  0% {
    top: 0;
    left: 0;
    opacity: 0; }
  25% {
    top: 5px;
    left: 5px;
    opacity: 1; }
  70%, 100% {
    top: 10px;
    left: 10px;
    opacity: 0; } }
      .intro .scroll-down span:nth-child(1) {
        transform: translate(10px, 10px);
        animation-delay: 0.2s; }

.about {
  height: 100%;
  background-color: #666; }
  .about > * {
    padding: 0 20px; }
  .about__left {
    width: 30%;
    color: #fff;
    line-height: 2em; }
    .about__left img {
      border-radius: 50%;
      width: 100%;
      height: 40%; }
    .about__left li {
      list-style: none; }
  .about__right {
    width: 70%;
    background-color: #fff;
    color: #000;
    padding-bottom: 20px; }
    .about__right h2 {
      width: 100%;
      text-align: center;
      background-color: #ccc; }
    .about__right p {
      font-weight: bold; }

.project {
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: #aaaaaa; }
  .project > h2, .project p {
    width: 100%;
    text-align: center;
    font-size: 2em; }
  .project > a {
    width: 20%;
    text-align: center;
    padding: 1em;
    font-size: 2em; }
  .project__container {
    width: 100%;
    height: 50%;
    margin: 0 10%;
    display: flex; }
    .project__container .project__box {
      width: 25%;
      transition: 0.5s;
      position: relative; }
      .project__container .project__box > * {
        width: 100%;
        height: 50%; }
      .project__container .project__box .thumb {
        top: 25%;
        transition: 0.5s; }
        .project__container .project__box .thumb img {
          width: 100%;
          height: 100%; }
      .project__container .project__box .details {
        top: 50%;
        transform: scale(0);
        transition: 0.5s;
        background-color: #b2f8c1; }
        .project__container .project__box .details .content {
          position: absolute;
          width: 100%;
          box-sizing: border-box;
          text-align: center;
          line-height: 0.5em; }
          .project__container .project__box .details .content p {
            font-size: 16px; }
          .project__container .project__box .details .content a {
            border: 2px solid #fff;
            color: #fff;
            display: inline-block;
            border-radius: 20px;
            padding: 10px 20px;
            text-decoration: none; }
            .project__container .project__box .details .content a:hover {
              background-color: #ccc;
              color: #262626; }
      .project__container .project__box:hover {
        transform: scale(1.1);
        z-index: 1; }
        .project__container .project__box:hover .thumb {
          top: 0; }
        .project__container .project__box:hover .details {
          transform: scale(1); }

@media (max-width: 576px) {
  .project__container {
    height: 60%;
    flex-wrap: wrap; }
    .project__container .project__box {
      width: 50%; } }

/*# sourceMappingURL=style.css.map */
